body {
    background-color: blueviolet;
}


form {
    background-color: rgb(174, 139, 78);
}

link, select, label {
    background-color: blueviolet;
    text-align: justify;
    text-decoration-color: darksalmon;
}

.parent {
    background-color: hsla(200, 100, 20%);
    height: 50px;
    width: 100px;
    background: linear-gradient(red, yellow, blue, orange);
  }

.child {
    height: 100%;
    width: 100%;
    background: linear-gradient(red, yellow, blue, orange);
    transition: transform 1s cubic-bezier(0.43,-0.44, 0.58, 3.67);
  }

.parent:hover .child {
    transform: translateX(100%);
  }

.bill_parent {
    background-color: hsla(200, 100, 20%);
    height: 50px;
    width: 50px;
    background: linear-gradient(red, yellow, blue, orange);  
  }

.bill_child {
    height: 100%;
    width: 100%;
    background: linear-gradient(red, yellow, blue, orange);
    transition: transform 1s cubic-bezier(0.43,-0.44, 0.58, 3.67);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.bill_parent:hover .bill_child {
    transform: translateX(100%);
    animation: BillTheCat 600ms ease-in both;
    transform: rotate3d(1, 2.0, 6.0, 360deg);
}
